<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>User selected keys</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>All keys (com.rsa.pkcs-12)</string>
			<key>Key</key>
			<string>toggle_com_rsa_pkcs12</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>All keys (purebred.select.all)</string>
			<key>Key</key>
			<string>toggle_purebred_select_all</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>All user keys (purebred.select.all.user)</string>
			<key>Key</key>
			<string>toggle_purebred_select_all_user</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Signature keys (purebred.select.signature)</string>
			<key>Key</key>
			<string>toggle_purebred_select_signature</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>All encryption keys (purebred.select.encryption)</string>
			<key>Key</key>
			<string>toggle_purebred_select_encryption</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>All authentication keys (purebred.select.authentication)</string>
			<key>Key</key>
			<string>toggle_purebred_select_authentication</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>All device keys (purebred.select.device)</string>
			<key>Key</key>
			<string>toggle_purebred_select_device</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
        <dict>
            <key>Type</key>
            <string>PSToggleSwitchSpecifier</string>
            <key>Title</key>
            <string>All device keys (purebred.zip.all)</string>
            <key>Key</key>
            <string>toggle_purebred_zip_all</string>
            <key>DefaultValue</key>
            <false/>
        </dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>All user keys (purebred.zip.all.user)</string>
			<key>Key</key>
			<string>toggle_purebred_zip_all_user</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Signature keys (purebred.zip.signature)</string>
			<key>Key</key>
			<string>toggle_purebred_zip_signature</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>All encryption keys (purebred.zip.encryption)</string>
			<key>Key</key>
			<string>toggle_purebred_zip_encryption</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>All authentication keys (purebred.zip.authentication)</string>
			<key>Key</key>
			<string>toggle_purebred_zip_authentication</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>All device keys (purebred.zip.device)</string>
			<key>Key</key>
			<string>toggle_purebred_zip_device</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
        <dict>
            <key>Type</key>
            <string>PSToggleSwitchSpecifier</string>
            <key>Title</key>
            <string>Do not filter on notBefore for zip files (purebred.zip.no_filter)</string>
            <key>Key</key>
            <string>toggle_purebred_zip_no_filter</string>
            <key>DefaultValue</key>
            <false/>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSToggleSwitchSpecifier</string>
            <key>Title</key>
            <string>Do not filter on notBefore (purebred.select.no_filter)</string>
            <key>Key</key>
            <string>toggle_purebred_select_no_filter</string>
            <key>DefaultValue</key>
            <false/>
        </dict>
	</array>
</dict>
</plist>
